{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAM_ID.com.mnesis.mnesis-flutter",
        "paths": [
          "/chat",
          "/new",
          "/operation",
          "/admin"
        ],
        "components": [
          {
            "/": "/*"
          }
        ]
      }
    ]
  },
  "webcredentials": {
    "apps": [ "TEAM_ID.com.mnesis.mnesis-flutter" ]
  }
}